@keyframes vc-gs-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.vc-global-search-result:hover {
    background: var(--background-modifier-hover) !important;
}
